.idea/*
/vendor/*
/bin/*
.DS_Store
composer.phar
!/public/phpdoc/.gitignore
!/public/phpmd/.gitignore
!/public/phpdoc/graphs/classes.svg
!/bin/generate-doc.sh
!/bin/generate-md.sh
!/bin/generate-cs.sh
!/bin/generate-test.sh