<?xml version="1.0" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="app.config.file_locator" class="Symfony\Component\Config\FileLocator">
            <argument>%root.path%/di/application</argument>
        </service>

        <service id="app.route.xml_file_loader" class="Symfony\Component\Routing\Loader\XmlFileLoader">
            <argument type="service" id="app.config.file_locator"/>
        </service>

        <service id="app.route.request_context" class="Symfony\Component\Routing\RequestContext">
        </service>

        <service id="app.controller.argument_resolver" class="Symfony\Component\HttpKernel\Controller\ArgumentResolver">
        </service>

        <service id="app.controller.controller_resolver" class="Symfony\Component\HttpKernel\Controller\ControllerResolver">
        </service>
    </services>
</container>
